<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
</head>
<body>

<div id="app">
  <div class="holder headline">
    <h1>Travel Planner</h1>
  </div>
  <div class="holder zip">
    <label for="zip">Enter zip code:</label>
    <input type="text" id="zip" placeholder="enter zip code">
  </div>
  <div class="holder feel">
    <label for="feelings">How are you feeling today?</label>
    <textarea class="myInput" id="feelings" name="feelings"></textarea>
    <button id="generate" type="submit">GENERATE</button>
  </div>
  <div class="holder entry">
    <div class="title">Most Recent Entry</div>
    <div id="entryHolder">
      <p id="date"></p>
      <p id="temp"></p>
      <p id="content"></p>
    </div>
  </div>
</div>

</body>
</html>
