<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Travel Planner</title>
</head>
<body>

<div id="app">
  <div class="holder headline">
    <h1>Travel Planner</h1>
  </div>
  <div class="holder form">
    <label for="location">Destination</label>
    <input type="text" id="location" placeholder="enter city" required>
    <div class="dates">
      <div>
        <label for="startDate">Start date</label>
        <input type="date" id="startDate" required>
      </div>
      <div>
        <label for="endDate">End date</label>
        <input type="date" id="endDate" required>
      </div>
    </div>
    <button id="generate" class="btn-blue btn" type="submit">SUBMIT</button>
  </div>
  <div class="holder entry">
    <div class="title">TRAVEL PLANS</div>
    <div id="entryHolder">
      <p id="locationHolder"></p>
      <p id="counterHolder"></p>
      <p id="tripCounterHolder"></p>
      <img id="currentWeatherIcon">
      <p id="weatherHolder"></p>
      <img id="pictureHolder">
    </div>
  </div>
</div>

</body>
</html>
