<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
</head>
<body>

<div id="app">
  <div class="holder headline">
    <h1>Travel Planner</h1>
  </div>
  <div class="holder">
    <label for="location">Enter your destination city:</label>
    <input type="text" id="location" placeholder="enter city">
  </div>
  <div class="holder">
    <label for="startDate">Start Date</label>
    <input type="date" id="startDate">
    <label for="startDate">End Date</label>
    <input type="date" id="endDate">
    <button id="generate" type="submit">SUBMIT</button>
  </div>
  <div class="holder entry">
    <div class="title">TRAVEL PLANS</div>
    <div id="entryHolder">
    </div>
  </div>
</div>

</body>
</html>
